<!doctype html>
<html lang="es">

<head>
    <title>Paradis | Agregar habitación</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

</head>

<body>
    <header>
        <div class="container menu-container">
            <!-- CARGAR LA NAVBAR -->
        </div>
    </header>

    <main>
        <div class="col-md-6 col-sm-10 emp-container mx-auto">
        <div>
            <h3>Agregar nueva habitacion</h3>
        </div>

        <form action="" method="post" th:object="${habitacion}" th:action="@{/habitacion/add-hotel/}">
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre"  field="*{nombre}">
              </div>
              <div class="mb-3">
                <label for="descripcion" class="form-label">Descripción</label>
                <textarea class="form-control" id="descripcion"  name="descripcion" rows="3" field="*{descripcion}"></textarea>
              </div>
              <div class="row">
              <div class="col-md-6 col-sm-10 mb-3">
                <label for="precio" class="form-label">Precio</label>
                <input type="number" class="form-control" id="precio" name="precio" field="*{precio}">
              </div>
              
              <div class="col-md-6 col-sm-10 mb-3">
                <label for="categoria" class="form-label">Categoria</label>
                <input type="number" class="form-control" id="categoria" name="categoria" placeholder="Opcional" field="*{categoria}">
              </div>
            </div>
              <div class="mb-3">
                <label for="cama" class="form-label">Cama</label>
                <input type="text" class="form-control" id="cama" name="cama" field="*{cama}">
              </div>
              <button id="editar" type="submit" class="btn btn-success">Actualizar</button>
              <a th:href="@{/habitacion/crud-hotel}" class="btn btn-warning">Cancelar</a>
        </form>

    </main>
    </div>


    <footer>
        <div class="footer-container" hidden>
            <!-- CARGAR EL FOOTER -->
        </div>
    </footer>

    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="https://kit.fontawesome.com/f7f981a367.js" crossorigin="anonymous"></script>

</body>

</html>