<!doctype html>
<html lang="es">
  <head>
  	<title>Paradis | Registro</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
			integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
	  <link rel="stylesheet" href="css/styles.css" />
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	  <script src="js/app.js"></script>
	  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

	</head>
	<body>
		<header>
			<div class="container menu-container">
				<!-- CARGAR LA NAVBAR -->

                <nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
                    <div class="container">
                        <a class="navbar-brand" href="index.html">PARADIS</a>
                        <div class="social-media order-lg-last">
                            <p class="mb-0 d-flex">
                                <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
                                <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
                                <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
                                <a th:href="@{/habitacion/crud-hotel}" class="d-flex align-items-center justify-content-center"><span><i class="fas fa-edit"></i></span></a>
                            </p>
                        </div>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="fa fa-bars"></span> Menu
                        </button>
                        <div class="collapse navbar-collapse" id="ftco-nav">
                            <ul class="navbar-nav ml-auto mr-md-3">
                                <li class="nav-item"><a href="index.html" class="nav-link">Home</a></li>
                                <li class="nav-item"><a th:href="@{/usuario/sign-up}" class="nav-link">Perfil</a></li>
                                <li class="nav-item"><a href="searches.html" class="nav-link">Buscar</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- END nav -->
			</div>
		</header>

		<main>
			<div class="container py-3 bg-transparent emp-container">
				
				<div class="container" name="contenedorFormularios">
					<div class="row pt-3">
						<div class="col-7 py-3 px-4 border border-2 bg-white no-padding-right mx-2 emp-container">
							<form action="" method="post" id="formulario" class="needs-validation" th:object="${usuario}" th:action="@{/usuario/sign-up/}" novalidate>
								<p class="h3"><strong>Registrate en PARADIS para continuar</strong></p>
								<p class="text-muted">Introduce tus datos.</p>
								<div class="row py-3">
									<div class="col-6">
										<label for="nombre" class="form-label">Nombre(s)</label>
										<input type="text" class="form-control" id="nombre" name="nombre"
											   minlength="3" maxlength="40" field="*{nombre}" required>
									</div>
									<div class="col-6">
										<label for="apellidoPaterno" class="form-label">Primer apellido</label>
										<input type="text" class="form-control" id="apellidoPaterno" name="apellidoPaterno"
											   minlength="3" maxlength="40" field="*{apellidoPaterno}" required>
									</div>
									<div class="col-6">
										<label for="apellidoMaterno" class="form-label">Segundo apellido</label>
										<input type="text" class="form-control" id="apellidoMaterno" name="apellidoMaterno"
											   minlength="3" maxlength="40" field="*{apellidoMaterno}" required>
									</div>
									<div class="col-6">
										<label for="email" class="form-label">Correo electrónico</label>
										<input type="email" class="form-control" id="email" name="email" field="*{email}" required>
										<div class="invalid-feedback">
											Introduce una dirección de correo electrónico válido.
										</div>
									</div>
								</div>
								<div class="row py-3">
									<div class="col-6">
										<label for="telefono" class="form-label">Número de teléfono</label>
										<input type="tel" class="form-control" id="telefono" name="telefono"
											   onkeyup="validarTelefono()" maxlength="10" field="*{telefono}" required>
										<div class="invalid-feedback">
											Número no válido.
										</div>
									</div>
									<div class="col-6">
										<label for="fechaNacimiento" class="form-label">Fecha de nacimiento</label>
										<input type="text" class="form-control" id="fechaNacimiento" name="fechaNacimiento" field="*{fechaNacimiento}" required>
										<div class="invalid-feedback"> <!--Cambiar a date en type cuando se solucione el casting-->
											Elige tu fecha de nacimiento.
										</div>
									</div>
								</div>
								<div class="row py-3">
									<div class="col-6">
										<label for="password" class="form-label">Contraseña</label>
										<input type="password" class="form-control" id="password" name="password" onkeyup="validarPass()"
											   minlength="6" maxlength="20" field="*{password}" required>
										<div class="invalid-feedback">
											Introduce una contraseña (entre 6-20 caracteres).
										</div>
									</div>
									<div class="col-6">
										<label for="inputConfirmPassword" class="form-label">Confirmar contraseña</label>
										<input type="password" class="form-control" id="inputConfirmPassword" onkeyup="confirmarPass()"
											   minlength="6" maxlength="20" field="*{password}" required>
										<div class="invalid-feedback">
											Vuelve a introducir tu contraseña.
										</div>
									</div>
								</div>
								<div class="row py-3">
									<div class="col-7">
										<div class="form-check">
											<input class="form-check-input" type="checkbox" value="" id="checkTerminos"
												required>
											<label class="form-check-label small" for="checkTerminos">
												He leído y acepto los <a href="#">términos y condiciones.</a>
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input " type="checkbox" value="" id="checkFeed" checked>
											<label class="form-check-label small" for="checkFeed">
												Deseo recibir promociones en mi correo electrónico.
											</label>
										</div>
									</div>
									<div class="col-5 justify-content-center">
										<button type="submit" class="btn btn-primary align-bottom"><strong>Registrarme</strong>
										</button>
									</div>
								</div>
							</form>
						</div>
						<div class="col-4 py-3 px-4 border border-2 border-start-0 bg-white no-padding-right align-items-center mx-2 emp-container">
							<p class="h3"><strong>Otras formas de reservar</strong> </p>
							<div class="row py-3 mx-2 justify-content-center  border-top">
								<button type="button" id="btnGoogle" class="btn border border-secondary border-1 bg-white" disabled><i
										class="bi bi-google pe-3 text-dark"></i>Iniciar sesión con Google</button>
							</div>
							<div class="row py-3 mx-2 justify-content-center border-bottom">
								<button type="button" id="tel" class="btn border border-secondary border-1 bg-white" disabled>
									<i class="bi bi-telephone-fill pe-4 text-dark"></i>Reservar por teléfono</button>
							</div>
							<div class="row align-self-end">
								<ul class="list-unstyled ">
									<li><i class="bi bi-geo-alt-fill circle-icon"></i> Ciudad, CP, Calle, Número</li>
									<li><i class="bi bi-envelope-fill circle-icon"></i> correo@paradis.com</li>
									<li><i class="bi bi-telephone-fill circle-icon"></i> +52 123 123 1234</li>
								</ul>
							</div>
							<div class="row"></div>
						</div>
					</div>
				</div>
			</div>
			
		</main>
		<!-- FOOTER -->
		<<section class="deneb_cta">
			<div class="container">
				<div class="cta_wrapper">
					<div class="row align-items-center">
						<div class="col-lg-7">
							<div class="cta_content">
								<h3>Aún no sabes que escoger ?</h3>
								<p>Contáctanos por vía telefónica o por nuestras redes sociales para ayudarte a crear tus vacaciones perfectas.</p>
							</div>
						</div>
						<div class="col-lg-5">
							<div class="button_box">
								<a href="#" class="btn btn-warning">Contactar</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<footer class="deneb_footer">
			<div class="widget_wrapper" style="background-image: url(http://demo.tortoizthemes.com/deneb-html/deneb-ltr/assets/images/footer_bg.png);">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-12">
							<div class="widget widegt_about">
								<div class="widget_title">
									<img src="assets/images/logo_1.png" class="img-fluid" alt="">
								</div>
								<p>PARADIS Resort. <br> En proceso de desarrollo, por Juliancito y sus amigos</p>
								<ul class="social">
									<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#"><i class="fab fa-twitter"></i></a></li>
									<li><a href="#"><i class="fab fa-instagram"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="widget widget_link">
								<div class="widget_title">
									<h4>Links</h4>
								</div>
								<ul>
									<li><a href="#">About Us</a></li>
									<li><a href="#">Services</a></li>
									<li><a href="#">Portfolio</a></li>
									<li><a href="#">Blog</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-12">
							<div class="widget widget_contact">
								<div class="widget_title">
									<h4>Contact Us</h4>
								</div>
								<div class="contact_info">
									<div class="single_info">
										<div class="icon">
											<i class="fas fa-phone-alt"></i>
										</div>
										<div class="info">
											<p><a href="tel:+919246147999">1800-121-3637</a></p>
											<p><a href="tel:+919246147999">+91 924-614-7999</a></p>
										</div>
									</div>
									<div class="single_info">
										<div class="icon">
											<i class="fas fa-envelope"></i>
										</div>
										<div class="info">
											<p><a href="mailto:info@deneb.com">info@deneb.com</a></p>
											<p><a href="mailto:services@deneb.com">services@deneb.com</a></p>
										</div>
									</div>
									<div class="single_info">
										<div class="icon">
											<i class="fas fa-map-marker-alt"></i>
										</div>
										<div class="info">
											<p>125, Park street aven, Brocklyn,<span>Newyork.</span></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="copyright_area">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="copyright_text">
								<p>Copyright &copy; 2022 All rights reserved.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
  <script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
  <script src="js/sign-up.js"></script>
  <script
      src="https://kit.fontawesome.com/f7f981a367.js"
      crossorigin="anonymous"
    ></script>

	</body>
</html>

